  .outer {
    display: inline-block;
    width: 45%;
    position: relative;
    min-height: 25vh;
    height: 100%;
    margin: 2%;
    background-color: black;
  }

  .center {
    width: 75%;
    height: 50%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
   
  }

  .city {
    color: #d8f800;
  }