.lobby-boards {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.lobby-board {
    display: inline-block;
    width: 25%;
    min-height: 25vh;
    background-color: black;
    color: white;
    margin: 2%;
    vertical-align: top;
}

.edit-lobby, .delete-lobby {
    color: #d8f800;
    font-weight: 600;
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
}