.teasers {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}



.teaser {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    min-height: 25vh;
    background-color: black;
    color: white;
    margin: 2%;
}