.set-classroom-tv {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.white {
    color: white;
}

.spacing {
    margin: 2%;
}

.set-theme {
    background-color: black;
    padding: 2%;
}